.a-btn,.img,.mask,.border{width:220px;height:220px;border-radius:50%;}
.a-btn{position:relative;display:block;}
.img{background-size:cover;background-position:50% 50%;}
.mask,.border{position:absolute;left:0;top:0;}
.mask{text-align:center;color:rgba(255,255,255,0);transition:all 0.5s ease-in;}
.info{margin-top:50%;transform:translateY(-50%);}
.border{transition:all 0.5s ease-in;border:10px solid #072256;border-left-color:#E07514;border-top-color:#E07514;box-sizing:border-box;}
.a-btn:hover .mask{background-color:rgba(0,0,0,0.5);color:rgba(255,255,255,1);}
.a-btn:hover .border{transform:rotate(180deg);}



.main{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}



.ch-img-1 {
    background-image: url(../images/1.jpg);
}

.ch-img-2 {
    background-image: url(../images/2.jpg);
}

.ch-img-3 {
    background-image: url(../images/3.jpg);
}
